* {
  margin: 0;
  padding: 0;
}

.page {
  background-color: white;
  height: 100vh;
  width: 100vw;
  display: flex;
}

nav {
  background-color: yellow;
  width: 84%;  /* Keep navbar at 80% width */
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 9999;
  left: 16%;  /* Start navbar 20% from the left */
}

.btn {
  margin-left: 1rem;
  margin-right: 1rem;
}

#btn1 {
  margin-left: 4rem;
  border-radius: 30rem;
  height: 8vh;
  width: 4vw;
}

.content {
  padding-top: 15vh;
  height: 85vh;
  width: 80%;
  background-color: blue;
  margin-left: 20%; /* Adjust for sidebar */
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardcontainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.card {
  height: 20vh;
  width: 10vw;
  background-color: white;
  margin: 1rem;
  padding: 2rem;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid black;
  border-radius: 2rem;
  box-shadow: .5rem .5rem lightgray;
  transition: .5s;
}

.card:hover {
  box-shadow: .7rem .7rem grey;
  height: 23vh;
  width: 12vw;
}

.Sidebar {
  width: 20%; /* Adjusted sidebar width */
  padding-top: 15vh;
  background-color: red;
}

.search {
  height: 40%;
  width: 15%;
  border: solid black;
  border-radius: 1rem;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.inputsearch {
  padding: .5rem;
  background-color: white;
  border: none;
  width: 95%;
}

.searchbtn {
  background-color: blue;
  height: 100%;
  width: 15%;
  border: none;
}

.login {
  border-radius: 1rem;
  padding: 1rem;
  margin-right: 1rem;
}
